* {
  margin: 0;
  padding: 0;
}
section{
    padding: 75px 7%;
}

 header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 20px 7%;
}  
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;}
  ul {

     display: flex;
    justify-content: center; 
    align-items: center;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 0;
    
  }


a{
    text-decoration: none;
    color: #3b3b3c;
}

.btn{
    
    background-color: #1D4ED8;
    color: white;
    border: none;
    border-radius: 5px; 
    font-weight: bold; 

}
.btn:hover {
    background-color: #27053f;
}

.btn.A {
    padding: 10px 20px;
    font-size: 14px;
}

.btn.B {
    padding: 13px 25px;
    font-size: 19px;
}